* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 16rem;
}

main > div {
  width: 100%;
  height: 100%;
}

#cellphones {
  position: relative;
}

#cellphones > div {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 100%;
  top: 50%;
  transform: translate(-90%, -47%);
}

#one {
  z-index: 99;
}

#instagram {
  width: 60%;
  height: 50%;
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 1.5rem;
}

#instagram > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  padding-block: 0.4rem;
  cursor: pointer;
}

#account > span {
  color: blue;
  cursor: pointer;
}
